body, html {
	width: 100%;
	height: 100%;
	background-color: #fdfff7;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	background-color: #fdfff7;
}

#header {
	height: 10%;
	background-color: #f85a3e;;
	position: relative;
	display: flex;
	justify-content: flex-start;
	padding-left: 10%;
}

#logo-container {
	position: absolute;
	width: 10%;
	height: 100%;
	background-color: #2f2f2f;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
}

#content-container {
	width: 100%;
	height: 80%;
	background-color: #fdfff7;
	display: flex;
	justify-content: flex-end;
}

#content {
	width: 85%;
	height: 100%;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-2col {

    align-self: center;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.content-2col-col {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#content-header-container {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
	position: absolute;
}

#content-header {
	margin: 0;
	color: black;
	font-family: arial;
	font-size: 2rem;
}

.content-header-icon {
	margin-right: 1%;
	font-size: 1.5rem;
}

.content-auto-height-row {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5%;
}

.button-styled {
	height: 30px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 23px;
	border-radius: 7px;
	font-family: arial;
	font-size: 1.5rem;
	cursor: pointer;
}

#no-family-image {
	align-self: center;
	margin: auto;
	margin-left: 10%;
}

#no-family-button-container {
	width: 100%;
	height: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
}

.no-family-button {
	width: 20%;
	height: 100%;
	background-color: red;
	margin: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
}

.no-family-button p {
	margin: 0;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 1.7rem;
}

#join-family-container {
	width: 70%;
	height: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#join-family-header {
	margin-top: 5%;
	font-size: 2.5rem;
	font-family: arial;
	letter-spacing: 2px;
}

.cursor-button {

    height: 47px;
    background-color: red;
    position: absolute;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    color: white;
    font-family: arial;
    cursor: pointer;

}

#logo-credit p {
	font-size: 0.6rem;
}

#footer {
	width: 100%;
	height: 10%;
	background-color: #2ad4ea;
}

#side-menu {
    position: absolute;
    left: 0;
    width: 15%;
    height: 60%;
    background-color: #fed766;
    top: 20%;
    -webkit-box-shadow: 9px 11px 14px 0px rgba(186,186,186,1);
    -moz-box-shadow: 9px 11px 14px 0px rgba(186,186,186,1);
    box-shadow: 9px 11px 14px 0px rgba(186,186,186,1);
}

.menu-option {
	width: 7%;
	height: 100%;
	background-color: #f85a3e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-option p {
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0;
}

.menu-option span {
	color: white;
	margin: 5px;
	font-size: 1.3rem;
}

.menu-option:hover {
	opacity: 0.5;
	cursor: pointer;
	background-color: #9e3825;
}

#register-container {
	width: 30%;
	height: 80%;
	border: 1px solid #fed766;
	border-radius: 9px;
	margin-bottom: 4%;
	padding: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	max-width: 500px;
	max-height: 594px;
}

.input-styled {
	border: none;
	border-bottom: 2px solid black;
	font-size: 1.5rem;
}

.register-input {
	background-color: #f85a3e;
	border: none;
	border-bottom: 2px solid #fed766;
	width: 100%;
	margin-bottom: 7%;
	color: #fed766;
}

.register-input-header {
	align-self: flex-start;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

#register-submit {
	width: 43%;
	height: 40px;
	background-color: #fed766;
	margin-top: 7%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #f85a3e;
	font-size: 1.2rem;

}

#login-container {
	width: 30%;
	height: 80%;
	border: 1px solid #fed766;
	border-radius: 9px;
	margin-bottom: 4%;
	padding: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	max-width: 500px;
	max-height: 594px;
}

.login-input {
	background-color: #f85a3e;
	border: none;
	border-bottom: 2px solid #fed766;
	width: 100%;
	margin-bottom: 7%;
	color: #fed766;
}

.login-input-header {
	align-self: flex-start;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

#login-submit {
	width: 43%;
	height: 40px;
	background-color: #fed766;
	margin-top: 7%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #f85a3e;
	font-size: 1.2rem;

}

#family-container {
	width: 30%;
	height: 80%;
	border: 1px solid #fed766;
	border-radius: 9px;
	margin-bottom: 4%;
	padding: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	max-width: 500px;
	max-height: 594px;
}

.family-input {
	background-color: #f85a3e;
	border: none;
	border-bottom: 2px solid #fed766;
	width: 100%;
	margin-bottom: 7%;
	color: #fed766;
}

.family-input-header {
	align-self: flex-start;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

#family-submit {
	width: 43%;
	height: 40px;
	background-color: #fed766;
	margin-top: 7%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #f85a3e;
	font-size: 1.2rem;

}

/* TABLES STYLE */

#families-table {
	width: 100%;
	height: auto;
	margin-top: 6%;
}

#families-table tr {
	text-align: center;
	line-height: 35px;
	font-size: 1.3rem;
}

#families-table th {
	background-color: #2ad4ea;
}

#families-table tr:nth-child(even) {
    background-color: #e8e8e8;
}

#families-table tr:hover {
	background-color: #ffdeb7;
	cursor: pointer;
}