body, html {
	width: 100%;
	height: 100%;
	background-color: #fdfff7;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	background-color: #fdfff7;
}

#header {
	height: 10%;
	background-color: #f85a3e;;
	position: relative;
	display: flex;
	justify-content: flex-start;
	padding-left: 10%;
}

#logo-container {
	position: absolute;
	width: 10%;
	height: 100%;
	background-color: #2f2f2f;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
}

#content-container {
	width: 100%;
	height: 80%;
	background-color: #fdfff7;
	display: flex;
	justify-content: flex-end;
}


.fc-right {
	display:block;
}

.fc-button-group {
	display: block !important;
}

.fc-next-button {
	display: block !important;
}

.fc-prev-button {
	display: block !important;
}

.fc-bg {
	display:contents !important;
}

#content {
	width: 85%;
	height: 100%;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#login-content {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#logout-button {
	position: absolute;
	right: 40px;
	width: 140px;
	height: 50%;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 25%;
	border-radius: 8px;
	cursor:pointer;
}

#logout-button:hover {
	opacity: 0.7;
}

#logout-button h5 {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}


.content-2col {

    align-self: center;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.content-2col-col {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#content-header-container {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
	position: absolute;
	z-index: 10;
	top:-12%;
}

#content-header {
	margin: 0;
	color: black;
	font-family: arial;
	font-size: 2rem;
}

#content-description { 
	position: absolute;
	left: 19%;
	font-size: 1.2rem;
	margin: 0;
	margin-top: 8px;
}

.content-header-icon {
	margin-right: 1%;
	font-size: 1.5rem;
}

#content-back-button {
	position: absolute;
	right: 3%;
	margin: auto;
	top: auto;
	font-size: 2.3rem;
	cursor: pointer;
}

.content-auto-height-row {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5%;
}

.button-styled {
	height: 30px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 23px;
	border-radius: 7px;
	font-family: arial;
	font-size: 1.5rem;
	cursor: pointer;
}

#no-family-image {
	align-self: center;
	margin: auto;
	margin-left: 10%;
}

#no-family-button-container {
	width: 100%;
	height: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
}

.no-family-button {
	width: 20%;
	height: 100%;
	background-color: red;
	margin: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
}

.no-family-button p {
	margin: 0;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 1.7rem;
}

#join-family-container {
	width: 70%;
	height: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#join-family-header {
	margin-top: 5%;
	font-size: 2.5rem;
	font-family: arial;
	letter-spacing: 2px;
}

#row-content-container {
	height: 80%;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.cursor-button {

    height: 47px;
    background-color: red;
    position: absolute;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    color: white;
    font-family: arial;
    cursor: pointer;

}

.cursor-button2 {

    height: 47px;
    background-color: red;
    position: absolute;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    color: white;
    font-family: arial;
    cursor: pointer;

}

#logo-credit p {
	font-size: 0.6rem;
}

#footer {
	width: 100%;
	height: 10%;
	background-color: #2ad4ea;
	position: absolute;
	max-height: 90px;
	bottom: 0;
}

#side-menu {
    position: absolute;
    left: 0;
    width: 15%;
    background-color: #fed766;
    top: 20%;
    -webkit-box-shadow: 9px 11px 14px 0px rgba(186,186,186,1);
    -moz-box-shadow: 9px 11px 14px 0px rgba(186,186,186,1);
    box-shadow: 9px 11px 14px 0px rgba(186,186,186,1);
    display: flex;flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#side-menu-header {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	background-color: #2f2f2f;
	color: white;
}

#side-menu > a {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	color: black;
	outline: none;
}

#side-menu > a:hover {
	opacity: 0.7;
	background-color: #c4a650;
}

.menu-option {
	width: 7%;
	height: 100%;
	background-color: #f85a3e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-option p {
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0;
}

.menu-option span {
	color: white;
	margin: 5px;
	font-size: 1.3rem;
}

.menu-option:hover {
	opacity: 0.5;
	cursor: pointer;
	background-color: #9e3825;
}

.menu-droplist-container {
	width: 7%;
	height: 100%;
	background-color: #f85a3e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.droplist-styled {
	width: auto;
	border: 1px solit black;
	padding-left: 2%;
	font-size: 1.2rem;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	padding-right: 6%;
	height: 41px;
    border-radius: 6px;
}

#country, #state {
	width: 60%;
	margin-right: 6%;
}

#register-container {
	width: 30%;
	height: 80%;
	border: 1px solid #fed766;
	border-radius: 9px;
	margin-bottom: 4%;
	padding: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	max-width: 500px;
	max-height: 594px;
}

.input-styled {
	border: none;
	border-bottom: 2px solid black;
	font-size: 1.5rem;
}

.register-input {
	background-color: #f85a3e;
	border: none;
	border-bottom: 2px solid #fed766;
	width: 100%;
	margin-bottom: 7%;
	color: #fed766;
}

.register-input-header {
	align-self: flex-start;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

#register-submit {
	width: 43%;
	height: 40px;
	background-color: #fed766;
	margin-top: 7%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #f85a3e;
	font-size: 1.2rem;

}

#login-container {
	width: 30%;
	height: 80%;
	border: 1px solid #fed766;
	border-radius: 9px;
	margin-bottom: 4%;
	padding: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	max-width: 500px;
	max-height: 594px;
}

.login-input {
	background-color: #f85a3e;
	border: none;
	border-bottom: 2px solid #fed766;
	width: 100%;
	margin-bottom: 7%;
	color: white;
	border-radius:7px;
	height: 40px;
	padding-left: 16px;
	font-size: 1.3rem;
}

.login-input-header {
	align-self: flex-start;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

#login-submit {
	width: 43%;
	height: 40px;
	background-color: #fed766;
	margin-top: 7%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #f85a3e;
	font-size: 1.2rem;

}

#login-registration-button {
	position: absolute;	bottom: 40px;
	background-color: red;
	width: 25%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius:10px;
}

#login-registration-button a {
	color:white;
	text-decoration: none;
}

#family-container {
	width: 30%;
	height: 80%;
	border: 1px solid #fed766;
	border-radius: 9px;
	margin-bottom: 4%;
	padding: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	max-width: 500px;
	max-height: 594px;
}

.family-input {
	background-color: #f85a3e;
	border: none;
	border-bottom: 2px solid #fed766;
	width: 100%;
	margin-bottom: 7%;
	color: #fed766;
}

.family-input-header {
	align-self: flex-start;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

#family-submit {
	width: 43%;
	height: 40px;
	background-color: #fed766;
	margin-top: 2%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #f85a3e;
	font-size: 1.2rem;

}

.long-input-container {
	width: 120%;
	height: 10%;
	margin-top: 5%;
	border-radius: 8px;
	display: flex;
	padding: 2%;
	font-size: 1.3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.long-input {
	border: none;
	width: 85%;
	height: 100%;
	border-bottom: 1px solid gray;
}

.lists-input {
	width: 40%;
	background-color: #2ad4ea;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid white;
	height: 35px;
	border: none;
	margin-top: 1%;
	border-bottom: 2px solid white;
}

/* TABLES STYLE */

.table-styled {
	width: 100%;
	height: auto;
	margin-top: 6%;
}

.table-styled tr {
	text-align: center;
	line-height: 35px;
	font-size: 1.3rem;
}

.table-styled th {
	background-color: #2ad4ea;
}

.table-styled tr:nth-child(even) {
    background-color: #e8e8e8;
}

.table-styled tr:hover {
	background-color: #ffdeb7;
	cursor: pointer;
}

.table-list {
	width: 100%;
	margin-top: 6%;
}

.table-list tr {

    width: 100%;

}
.table-list tr::before {

    content: "• ";
    font-size: 2rem;
    margin: 0;
    margin-right: 11px;

}

.inset-shadow {
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
}

/* ICONS */

.icon::before {
	content: "";
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	top: 0.4rem;
	margin-left: 1.5rem;
	margin-right: 1.7rem;
	filter: invert(100);
}

 .icon-users:before {
	background-image: url('../images/icons/users.svg');
 }

 .icon-chat:before {
	background-image: url('../images/icons/messages.svg');
 }

 .icon-send:before {
	background-image: url('../images/icons/send.svg');
 }

 .icon-cloud:before {
	background-image: url('../images/icons/cloud.svg');
 }

 .icon-x:before {
	background-image: url('../images/icons/times.svg');
 }

 /* STANDARD FLEXBOX ELEMENTS */

 .flex-start-row {
 	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
 }


 /* FAMILY CHAT */

#family-chat-container {
	width: 100%;
	height: 90%;
	/* border: 1px solid black; */
	min-width: 380px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 5px;
	position:relative;
	max-width:700px;
}


#family-chat-messages-container {
	height: 95%;
	width: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.family-chat-message-row-received {
	width: 90%;
	background-color: #2ad4ea;
	border: 1px solid black;
	position: relative;
	/* display: flex; */
	align-items: center;
	justify-content: flex-start;
	border-radius: 5px;
	margin: 5px;
	padding-left: 10px;
	word-wrap: anywhere;
	height: auto;
}

.family-chat-message-row-sent {
	width: 90%;
	background-color: #20c193;
	border: 1px solid black;
	position: relative;
	/* display: flex; */
	align-items: center;
	justify-content: flex-start;
	border-radius: 5px;
	margin: 5px;
	padding-left: 10px;
	align-self: flex-end;
	word-wrap: anywhere;
	height: auto;
}

.family-chat-message-sender {
	margin: 0;
	font-weight: bold;
	width:13%;
	word-wrap:normal;
	margin-right:15px;
}

.family-chat-message-body {
	margin: 0;
	margin-left: 5px;
}

#family-chat-input-container {
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #2ad4ea;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

#family-chat-input {
	width:85%;
	padding-left: 5px;
}

#family-chat-input-send {
	width: 15%;
	height: 100%;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #f85a3e;
	border-radius: 8px;
}

#family-chat-loading {
	align-self: center;
	align-self: center;
	width: 70px;
	margin-top: 3px;
	margin: 0;
	display:none;
}

.message-body-container {
	overflow-wrap: break-word;
    word-wrap: break-word;
    width: 90%;
}


#family-cloud-container {
	width: 100%;
	height: 100%;
	background: #2ad4ea;
	border-radius: 7px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: baseline;
	position:relative;
}

.family-cloud-file-container {
	width: 9rem;
	height: 9rem;
	padding:8px;
	overflow:hidden;
	background-color:white;
	margin: 25px;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	cursor:pointer;
	position:relative;
}

#family-cloud-add-container {
	display:none;
	flex-direction: column;
	height: auto;
	margin-top: 8%;
	background-color: brown;
	color: white;
	width: 50%;
	position: absolute;
	right: 25%;
}

.family-cloud-file-extension-container {
	width: 50%;
	height: 50%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.family-cloud-file-name-container {
	width: 100%;height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.family-cloud-file-delete {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4px;
	padding-left: 5px;
	filter:invert(100);
	z-index:10;
}

.family-cloud-file-delete:hover {
	background-color:red;
}

#family-cloud-add-button {
	height: 70px;
	background-color: red;
	position: absolute;
	right: 0;
	top: -80px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding:15px;
	margin-top: 3%;
	align-self: flex-end;
	position: absolute;
	right: 2%;
	user-select: none;
}

#family-cloud-open-input {
	height: 70px;
	background-color: red;
	position: absolute;
	z-index:1000;
	right: 0;
	top: -80px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding:15px;
	margin-top: 3%;
	align-self: flex-end;
	position: absolute;
	right: 2%;
}

.cloud-filename-container {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

/* ----------------------------- FAMILY MAP */

#family-map-container {
	height:100%;
	width:80%;
}

.leaflet-pane{
    img{
        position: absolute;
    }
}

#family-map-users-panel {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border: 2px solid #2ad4ea;
	border-radius: 10px 0px 0px 10px;
}

#family-map-checkins-panel {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border: 2px solid #2ad4ea;
	border-radius: 10px 0px 0px 10px;
}

#family-map-users-panel-header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #2ad4ea;
	background-color: #2ad4ea;
}

.family-map-users-panel-user {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #2ad4ea;
	background-color: white;
	color: black;
	cursor: pointer;
}

.family-map-checkins-panel-checkin {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #2ad4ea;
	background-color: white;
	color: black;
	cursor: pointer;
}

.family-map-users-panel-user h3 {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	margin: 0;
}


.family-map-users-panel-user:hover {
	background-color: #eaeaea;
}

#family-map-checkin-button {
	position: absolute;
	width: 100px;
	height: 50px;
	background-color: red;
	top: 30px;
	right: 30px;
	z-index: 1000;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#family-map-checkin-message {
	background-color: red;
	z-index: 1000;
	display: none;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 30%;
	height: 20%;
	position: absolute;
	left: 35%;
	top: 40%;
}
