<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Family</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='fonts/glyphicons.css') }}" rel="stylesheet">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


    </head>
<body>

<div id='wrapper'>

	<div id='header'>
		<div id='logo-container'>
			<img src="../static/images/logo.png" style="width: 50%;" class="img-responsive pull-right">
		</div>
		<div class="menu-option">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		</div>
		<div class="menu-option">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</div>
		<div class="menu-option">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</div>
		<div class="menu-option">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
		</div>
		<div class="menu-option">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
		</div>
	</div>
	<div id='content-container'>
		<div id='side-menu'>
		</div>
		<div id="content">
			<div id='content-header-container'>
				<span class="glyphicon glyphicon-home content-header-icon" aria-hidden="true"></span>
				<p id='content-header'>Home</p>
			</div>

			<div class="content-2col" id='content_no-family' style='display:none;'>
				<div class='content-2col-col'>
					<div id='no-family-image' style='margin-right:-20%;'>
						<img src="../static/images/family.png" style="width: 70%;" class="img-responsive pull-right">
						<div id='logo-credit'>
							<p>Icons made by 
								<a href="https://www.freepik.com/" title="Freepik">Freepik</a> from 
								<a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by 
								<a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class='content-2col-col' style='justify-content: center;margin-right: 15%;'>
					<h1 style='color:#636363'>You are not a member of any family.</h1>
					<h2 style='color:#8c8c8c'>Either create a family, or join one!</h2>

					<div id='no-family-button-container'>
						<div class='no-family-button'>
							<p>Join</p>
						</div>
						<div class='no-family-button'>
							<p>Create</p>
						</div>
					</div>
				</div>
			</div>

			<div class="content-2col" id='content_join-family'>
			    <div id='join-family-container'>
			    	<h5 id="join-family-header"> Join a family! </h5>

			        <div class="content-auto-height-row">
			        	<input type="text" placeholder="Name" class='input-styled' style="width: 30%;margin-right: 5%;">
			            <input type="text" placeholder="Location (City)" class='input-styled' style="width: 30%;margin-right: 5%;">
			            <a><span aria-hidden="true" class="glyphicon glyphicon-search content-header-icon" style="color: #f85a3e;font-size: 2.4rem;"></span></a>
			        </div>

			        <table id="families-table">
			            <tbody style="">
			                <tr>
			                    <th> ID </th>
			                    <th> Name </th>
			                    <th> Location </th>
			                    <th> No. of members </th>
			                </tr>
			                <tr>
			                    <td> 1233212 </td>
			                    <td> Tiganetea </td>
			                    <td> Cluj-Napoca, RO </td>
			                    <td> 4 </td>
			                </tr>
			                <tr>
			                    <td> 1233212 </td>
			                    <td> Tiganetea </td>
			                    <td> Cluj-Napoca, RO </td>
			                    <td> 4 </td>
			                </tr>
			                <tr>
			                    <td> 1233212 </td>
			                    <td> Tiganetea </td>
			                    <td> Cluj-Napoca, RO </td>
			                    <td> 4 </td>
			                </tr>
			                <tr>
			                    <td> 1233212 </td>
			                    <td> Tiganetea </td>
			                    <td> Cluj-Napoca, RO </td>
			                    <td> 4 </td>
			                </tr>
			                <tr>
			                    <td> 1233212 </td>
			                    <td> Tiganetea </td>
			                    <td> Cluj-Napoca, RO </td>
			                    <td> 4 </td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
			</div>

		</div>
	</div>
	<div id='footer'></div>

</div>

</body>
</html>